

@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    text-align: center;
    padding: 2rem;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/*
 * Just for presentation 
 */
body {
  /* display: flex; */
  font-family: -apple-system, Noto Sans KR, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  padding: 2rem;
}

section {
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  text-transform: uppercase;
  margin: 4rem 0 2rem 0;
  font-weight: 600;
  color: rgb(255, 255, 255);
  
}
h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
  font-weight: 600;
  color: rgba(191, 191, 191, 0.5);
}

/* 
 * SEGMENTED CONTROLS LAYOUT
 */
/*
 * Container
 */
.segmented-controls {
  display: flex;
  margin: 1rem auto 3rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

/*
 * Vissualy hidden radiobuttons
 */
.segmented-controls input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/* 
 * Labels need to be the same size
 */
.segmented-controls label {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  flex: 1 1 0px;
  position: relative;
  z-index: 2;
  transition: inherit;
}

/* 
 * Adjust z-index of last label since that contains 
 * the paddle that needs to go beneath all other labels 
 */
.segmented-controls label:last-of-type {
  z-index: 1;
}

/*
 * Paddle 
 */
.segmented-controls label:last-of-type::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-color: black;
  transition: inherit;
}

/*
 * Move paddle depending on which option is selected
 */
.segmented-controls input:nth-last-of-type(2):checked ~ label:last-of-type::after {
  transform: translateX(-100%);
}

.segmented-controls input:nth-last-of-type(3):checked ~ label:last-of-type::after {
  transform: translateX(-200%);
}

.segmented-controls input:nth-last-of-type(4):checked ~ label:last-of-type::after {
  transform: translateX(-300%);
}

.segmented-controls input:nth-last-of-type(5):checked ~ label:last-of-type::after {
  transform: translateX(-400%);
}

.segmented-controls input:nth-last-of-type(6):checked ~ label:last-of-type::after {
  transform: translateX(-500%);
}

.segmented-controls input:nth-last-of-type(7):checked ~ label:last-of-type::after {
  transform: translateX(-600%);
}

.segmented-controls input:nth-last-of-type(8):checked ~ label:last-of-type::after {
  transform: translateX(-700%);
}

.segmented-controls input:nth-last-of-type(9):checked ~ label:last-of-type::after {
  transform: translateX(-800%);
}

.segmented-controls input:nth-last-of-type(10):checked ~ label:last-of-type::after {
  transform: translateX(-900%);
}

/*
 * IOS 13 Theme
 * Special thanks to https://www.figma.com/community/file/768365747273056340
 */

/*
 * Container
 */
.segmented-controls {
  border-radius: 0.5rem;
  background: #e2e2e9;
  height: 2rem;
  padding: 0.125rem;
}

/*
 * Labels 
 */
.segmented-controls label {
  color: rgb(0, 0, 0);
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  line-height: 1;
}

/*
 * Dividers
 */
.segmented-controls label:not(:first-of-type)::before {
  content: "";
  position: absolute;
  z-index: -3;
  top: 0.5rem;
  left: 0;
  bottom: 0.5rem;
  width: 1px;
  background: rgba(0, 0, 0, 0.15);
  transition: inherit;
}

/*
 * Selected option 
 */
.segmented-controls input:checked + label {
  font-weight: 600;
  font-size: 0.875rem;
}

/*
 * Hide dividers before and after the selected option
 */
.segmented-controls input:checked + label::before,
.segmented-controls input:checked + label + input + label::before {
  opacity: 0;
}

/*
 * Focus style for keyboard navigation
 */
.segmented-controls:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(217, 255, 0, 0.75);
}

/*
 * Paddle
 */
.segmented-controls label:last-of-type::after {
  background: rgb(128, 255, 0);
  border-radius: 0.4275rem;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12);
}


























.busInfo-list {
  list-style: none;
  padding: 0;
}

.busInfo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #494949;
}

.busInfo-title {
  flex-grow: 1;
  text-align: left;
  padding-right: 10px;
  color: #888888;
}

.busInfo-bus {
  flex-grow: 1;
  text-align: left;
}

.busInfo-view {
  margin-left: 10px;
  color: #ccc;
}


